@using OnlineDoctorSystem.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />

    <!--my custom things-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/8e7c5bd6e4.js" crossorigin="anonymous" asp-append-version="true"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 row">
                        <li class="nav-item" style="margin-top: 7px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        @if (this.User.IsInRole(GlobalConstants.PatientRoleName))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="margin-top: 7px" asp-controller="Consultations" asp-action="GetUsersConsultations">Моите консултации</a>
                            </li>
                        }
                        @if (this.User.IsInRole(GlobalConstants.DoctorRoleName))
                        {
                            <li class="nav-item">
                                <div class="dropdown show nav-link text-dark">
                                    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">Консултации</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Consultations" asp-action="GetUsersConsultations">Моите консултации</a>
                                        <a class="dropdown-item" asp-controller="Doctors" asp-action="GetUnconfirmedConsultations">Непотвърдени консултации</a>
                                    </div>
                                </div>
                            </li>
                        
                        <li class="nav-item" style="margin-top: 7px">
                            <a class="nav-link " asp-controller="Patients" asp-action="GetDoctorsPatients">Моите пациенти</a>
                        </li>

                        }
                        <li class="nav-item" style="margin-top: 7px">
                            <a class="nav-link " asp-controller="Contacts" asp-action="Index">Контакти</a>
                        </li>
                        <li class="nav-item" style="margin-top: 7px">
                            <a class="nav-link" asp-controller="Statistics" asp-action="Index">Статистика</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
        <partial name="_CookieConsentPartial" />
    </div>

    <footer class="border-top footer text-black-50">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName
            <a class=" text-gray-900" asp-controller="Home" asp-action="Privacy" >Политика за личните данни</a>
            <a class="float-right text-gray-900" href="https://github.com/Boyan-Apostolov/OnlineDoctorSystem">Система с отворен код</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
