@using OnlineDoctorSystem.Common
@{
    this.ViewData["Title"] = $"Добре дошли в ОнлайнДоктор-Системата!";
}
@model OnlineDoctorSystem.Web.ViewModels.Home.IndexViewModel

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>
@foreach (var doctor in @Model.Doctors)
{
    <div class="card text-center d-inline-block col-md-3">
        <img class="card-img-top mx-auto img-fluid" src="@doctor.ImageUrl" height="250" alt="@doctor.Name снимка">
        <div class="card-body">
            <h5 class="card-title">Д-р @doctor.Name</h5>
            <p class="card-text">@doctor.AverageRating / 5</p>
            <p class="card-text">@doctor.TownName - @doctor.Specialty</p>
            <a href="@doctor.Url" class="btn btn-success btn-outline-warning text-white">Запази час</a>
        </div>
    </div>
}
