@using OnlineDoctorSystem.Common
@using OnlineDoctorSystem.Data
@{
    this.ViewData["Title"] = $"ОнлайнДоктор-Системата";
}
@model OnlineDoctorSystem.Web.ViewModels.Home.IndexViewModel

<div class="row justify-content-center">

    <div class="col-sm-10 col-md-8 col-xl-6" id="home-search">
        <h1>Намерете лекар и резервирайте час за преглед онлайн!</h1>
        <div class="" id="search-doctor">
            <br />
            <h4>Търси доктор:</h4>
            <br />
            <di>
                <form method="get">
                    <div>
                        <div class="form-group">
                            <select class="form-control form-control-lg">
                                <option value="" selected="">По населено място...</option>
                                @foreach (var town in @Model.Towns)
                                {
                                    <option value="@town.Id">@town.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">

                            <select name="specialty_id" id="specialty_id" class="form-control form-control-lg">

                                <option value="" selected="">По специалност...</option>
                                @foreach (var specialty in Model.Specialties)
                                {
                                    <option value="@specialty.Id">@specialty.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" placeholder="По име на лекар..." name="name" id="doc_name" class="form-control  form-control-lg" value="" data-original-title="Напишете името на кирилица">
                        </div>
                        <button type="submit" class="btn btn-success btn-outline-warning text-white">
                            <i class="fas fa-search-plus"> Търсене по параметри</i>
                        </button>
                        <a style="float: right" href="/Doctors/All" class="btn btn-success btn-outline-warning text-white">
                            <i class="fas fa-globe"> Виж всички лекари</i>
                        </a>

                    </div>
                </form>
            </di>
        </div>
        <br/>
    </div>

    <div class="col-md-4">
            <div class="text-center">
                <div>
                    <img class="img-fluid" src="/images/doctor.png">
                </div>
            </div>
        
    </div>
    <div>
        <div class="text-center">
            <h2>Какво е @this.ViewData["Title"]?</h2>
            <p>
                @this.ViewData["Title"] Ви помага да намерите различни специалисти, да прочетете мнения на други пациенти и да резервирате час за преглед онлайн – в удобно за Вас време и място.
            </p>
        </div>
    </div>
</div>
