@page
@model RegisterDoctor
@{
    ViewData["Title"] = "Създаване на акаунт";
}

@using OnlineDoctorSystem.Data.Models
@using OnlineDoctorSystem.Data.Models.Enums
@using OnlineDoctorSystem.Services.Data.Specialties
@using OnlineDoctorSystem.Services.Data.Towns
@using OnlineDoctorSystem.Web.ViewModels.Home
@inject ITownsService TownsService
@inject ISpecialtiesService SpecialtiesService

<body class="bg-gradient-success">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12 bg-gradient-light">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Създаване на акаунт</h1>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="All"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.FirstName" class="form-control" placeholder="Име">
                                        <span asp-validation-for="Input.FirstName"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.LastName" class="form-control" placeholder="Фамилия">
                                        <span asp-validation-for="Input.LastName"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Phone" class="form-control" placeholder="Мобилен телефон">
                                        <span asp-validation-for="Input.Phone"></span>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <select asp-for="Input.Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                                        </select>
                                        <span asp-validation-for="Input.Gender"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input asp-for="Input.BirthDate" class="form-control" type="text" placeholder="Дата на раждане" onfocus="(this.type = 'date')">
                                        <span asp-validation-for="Input.BirthDate"></span>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <select asp-for="Input.TownId" class="form-control form-control">
                                            <option value="" selected="">Избери населено място...</option>
                                            @foreach (var town in TownsService.GetAllTowns<TownsIndexViewModel>())
                                            {
                                                <option value="@town.Id">@town.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.YearsOfPractice" type="number" min="0" class="form-control" placeholder="Години сраж">
                                        <span asp-validation-for="Input.YearsOfPractice"></span>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <select asp-for="Input.SpecialtyId" class="form-control form-control">
                                            <option value="" selected="">Избери своята специалност...</option>
                                            @foreach (var specialty in SpecialtiesService.GetAllSpecialties<SpecialtiesIndexViewModel>())
                                            {
                                                <option value="@specialty.Id">@specialty.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control" placeholder="Имейл">
                                    <span asp-validation-for="Input.Email"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Парола">
                                        <span asp-validation-for="Input.Password"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Повтори паролата">
                                        <span asp-validation-for="Input.ConfirmPassword"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea asp-for="Input.SmallInfo" class="form-control" placeholder="Разкажете ни накратко за себе се"></textarea>
                                    <span asp-validation-for="Input.SmallInfo"></span>
                                </div>
                                <div class="form-group">
                                    <textarea asp-for="Input.Education" class="form-control" placeholder="Какво образование имате?"></textarea>
                                    <span asp-validation-for="Input.Education"></span>
                                </div>
                                <div class="form-group">
                                    <textarea asp-for="Input.Qualifications" class="form-control" placeholder="Имате ли някакви придобити квалификации?"></textarea>
                                    <span asp-validation-for="Input.Qualifications"></span>
                                </div>
                                <div class="form-group">
                                    <textarea asp-for="Input.Biography" class="form-control" placeholder="Разкажете за предишни работни позиции"></textarea>
                                    <span asp-validation-for="Input.Biography"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label asp-for="Input.IsWorkingWithNZOK">Работите ли с деца ?</label>
                                        <input asp-for="Input.IsWorkingWithChildren" class="form-control">
                                        <span asp-validation-for="Input.IsWorkingWithChildren"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label asp-for="Input.IsWorkingWithNZOK">Работите ли с НЗОК ?</label>
                                        <input asp-for="Input.IsWorkingWithNZOK" class="form-control">
                                        <span asp-validation-for="Input.IsWorkingWithNZOK"></span>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group float-left">
                                        <div class="btn btn-light">
                                            <span>Профилна снимка</span>
                                            <input asp-for="Input.Image">
                                        </div>
                                        <span asp-validation-for="Input.Image"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Регистрация</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/Identity/Account/Login">Вече имате акаунт? Влизане!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
