@model OnlineDoctorSystem.Web.ViewModels.Doctors.ReviewViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    this.ViewData["Title"] = $"Добавяне на отзив за д-р {Model.DoctorName}.";
}
<br />
<h2 class="text-center">@this.ViewData["Title"]</h2>
<div class="justify-content-center align-content-center">
    <form asp-controller="Doctors" class="justify-content-center text-center align-items-center" asp-action="AddReview" method="post">
        <div class="form-group">
            <div class="row justify-content-center">
                <h3>&nbsp;Отношение на доктора: &nbsp; </h3>
                <ul class="list-unstyled row top">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <li class="fas fa-star btn-outline-warning" data-vote-attitude="@i"></li>
                    }
                    <li><span id="attitude">@Model.DoctorAttitudeReview</span><span> / 5</span> </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-center">
                <h3>&nbsp;Цялостно представяне: &nbsp; </h3>
                <ul class="list-unstyled row text-center">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <li class="fas fa-star btn-outline-warning" data-vote-overall="@i"></li>
                    }
                    <li><span id="overallVote">@Model.OverallReview</span><span> / 5</span> </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-center">
                <h3>&nbsp;Време за чакане: &nbsp; </h3>
                <ul class="list-unstyled row">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <li class="fas fa-star btn-outline-warning" data-vote-waitingTime="@i"></li>
                    }
                    <li><span id="waitingTime">@Model.WaitingTimeReview</span><span> / 5</span> </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div>
                <h3>Лично мнение:</h3>
                <textarea class="multiline" asp-for="ReviewText"></textarea>
            </div>
        </div>
        <input type="hidden" asp-for="OverallReview" id="overallId" />
        <input type="hidden" asp-for="WaitingTimeReview" id="waitingTimeId" />
        <input type="hidden" asp-for="DoctorAttitudeReview" id="attitudeId" />
        <input type="hidden" asp-for="DoctorId" />
        <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
        <input class="btn btn-success" type="submit" />
    </form>
</div>


@section Scripts {
    <script>
        $("li[data-vote-overall]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote-overall");
                $('#overallId').val(value);
                $('#overallVote').html(value);
            })
        });
        $("li[data-vote-waitingTime]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote-waitingTime");
                $('#waitingTimeId').val(value);
                $('#waitingTime').html(value);
            });
        });
        $("li[data-vote-attitude]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote-attitude");
                $('#attitudeId').val(value);
                $('#attitude').html(value);
            });
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:LocalHost_Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Site_Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>

}

