@{
    this.ViewData["Title"] = $"Всички доктори";
}
<head>
    <script data-ad-client="ca-pub-1530794777964567" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
@model OnlineDoctorSystem.Web.ViewModels.Doctors.AllDoctorViewModel
@if (!this.Model.Doctors.Any())
{
    <h1>Няма намерени доктори по зададените параметри!</h1>
}
else
{
    <div class="row text-center justify-content-center">
        @foreach (var doctor in @Model.Doctors)
        {
            <div class="card text-center d-inline-block col-xl-3 col-md-3 col-sm-4">
                <img class="card-img-top mx-auto img-fluid"  style="height: 270px; object-fit: contain;" src="@doctor.ImageUrl" alt="@doctor.Name снимка" >
                <div class="card-body">
                    @if (@doctor.Name.Length >= 15)
                    {
                        <h5 class="card-title">Д-р @doctor.Name</h5>
                    }
                    else
                    {
                        <h4 class="card-title">Д-р @doctor.Name</h4>
                    }

                    <p class="card-text">@doctor.Town.Name - @doctor.Specialty.Name</p>

                    @for (int i = 0; i < Math.Round(@doctor.AverageRating); i++)
                    {
                        <i class="fas fa-star btn-outline-warning"></i>
                    }

                    <div>
                        @if (doctor.IsWorkingWithNZOK)
                        {
                            <span class="badge badge-info" title="Работи с НЗОК">
                                <img src="/images/nzok.png" width="25px" height="25px" />
                                <span>Работи с НЗОК</span>
                            </span>
                        }
                        @if (doctor.IsWorkingWithChildren)
                        {
                            <span class="badge badge-warning text-center  d-inline" title="Работи с деца">
                                <i class="fas fa-child"></i>
                                <span>Работи с деца</span>
                            </span>
                        }

                    </div>
                    <a href="@doctor.Url" class="btn btn-success btn-outline-warning text-white">Преглед</a>
                </div>
            </div>
        }
        <hr />
    </div>
    <partial name="_AllDoctorsPagingPartial" model="@Model" />
}