@{
    this.ViewData["Title"] = $"Всички близки доктори";
}
@model OnlineDoctorSystem.Web.ViewModels.Doctors.AllDoctorViewModel
@if (!this.Model.Doctors.Any())
{
    <h1>Няма намерени доктори по зададените параметри!</h1>
}
else
{
    <h1 class="text-center">Най-близки доктори:</h1>
    <div class="row text-center justify-content-center">
        @foreach (var doctor in @Model.Doctors)
        {
            <div class="card text-center d-inline-block col-xl-3 col-md-2 col-sm-5">
                <img class="card-img-top mx-auto img-fluid" src="@doctor.ImageUrl" alt="@doctor.Name снимка">
                <div class="card-body">
                    @if (@doctor.Name.Length >= 15)
                    {
                        <h5 class="card-title">Д-р @doctor.Name</h5>
                    }
                    else
                    {
                        <h4 class="card-title">Д-р @doctor.Name</h4>
                    }

                    <p class="card-text">@doctor.Town.Name - @doctor.Specialty.Name</p>

                    @for (int i = 0; i < Math.Round(@doctor.AverageRating); i++)
                    {
                        <i class="fas fa-star btn-outline-warning"></i>
                    }

                    <div>
                        @if (doctor.IsWorkingWithNZOK)
                        {
                            <span class="badge badge-info" title="Работи с НЗОК">
                                <img src="/images/nzok.png" width="25px" height="25px" />
                                <span>Работи с НЗОК</span>
                            </span>
                        }
                        @if (doctor.IsWorkingWithChildren)
                        {
                            <span class="badge badge-warning text-center  d-inline" title="Работи с деца">
                                <i class="fas fa-child"></i>
                                <span>Работи с деца</span>
                            </span>
                        }

                    </div>
                    <a href="@doctor.Url" class="btn btn-success btn-outline-warning text-white">Преглед</a>
                </div>
            </div>
        }
        <hr />
    </div>
    <partial name="_NearDoctorsPagingPartial" model="@Model" />
    <div id="mapdiv" style="width: 300px; height: 300px;"></div>
}
@section Scripts {

    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script>
        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lonLat = new OpenLayers.LonLat(25.617151, 43.075672)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        var zoom = 6;

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(lonLat));

        map.setCenter(lonLat, zoom);
    </script>
}