@model OnlineDoctorSystem.Web.ViewModels.Doctors.DoctorReviewsViewModel
@{
    this.ViewData["Title"] = @Model.DoctorName;
}

@if (Model.Reviews.Count == 0)
{
<h1 class="text-center">Д-р @Model.DoctorName няма никакви отзиви към момента</h1>
}
else
{
<h1>Отзиви на д-р @Model.DoctorName</h1>
    @foreach (var review in Model.Reviews)
    {
        <h4> <i class="far fa-calendar-check"></i> @review.CreatedOn.ToShortDateString()</h4>
        <h3>Общ отзив:</h3>
        @for (int i = 0; i < Math.Round(review.OverallReview); i++)
        {
            <i class="fas fa-star btn-outline-warning"></i>
        }
        <br />
        <h3>Време за чакане:</h3>
        @for (int i = 0; i < Math.Round(review.WaitingTimeReview); i++)
        {
            <i class="fas fa-star btn-outline-warning"></i>
        }
        <br />
        <h3>Отношение към пациентите:</h3>
        @for (int i = 0; i < Math.Round(review.DoctorAttitudeReview); i++)
        {
            <i class="fas fa-star btn-outline-warning"></i>
        }
        <br />
        <h3>Обратна връзка:</h3>
        <h2>@review.ReviewText</h2>
        <hr />
    }
    <br />
}

