@model IEnumerable<OnlineDoctorSystem.Data.Models.Consultation>

@{
    this.ViewBag.Title = "Непотвърдени консулатции";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>
<br />
<div class="text-center">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>Ден</th>
            <th>Начало</th>
            <th>Край</th>
            <th>Пациент</th>
            <th>Описание</th>
            <th>Приемане</th>
            <th>Отказване</th>
        </tr>
        @foreach (var consultation in Model)
        {
            <tr>
                <th>@consultation.Date.ToShortDateString()</th>
                <th>@consultation.StartTime</th>
                <th>@consultation.EndTime</th>
                <th>@($"{consultation.Patient.FirstName} {consultation.Patient.LastName}")</th>
                <th>@consultation.Description</th>
                <th><a asp-controller="Consultations" asp-action="ApproveConsultation" asp-route-consultationId="@consultation.Id" class="btn btn-success">Приемане</a></th>
                <th><a asp-controller="Consultations" asp-action="DeclineConsultation" asp-route-consultationId="@consultation.Id" class="btn btn-danger">Отказване</a></th>
            </tr>
        }
    </table>
</div>
